body  {
  background-color: #f2f7ff;
}
.border-mine  {
  border: 1px solid #355b99;
}
.border-mine-nav  {
  border: 1px solid #355b99;
  border-top: none;
}
.text-mine  {
  color: #224070;
}
.btn-mine {
  color: #f2f7ff;
  background-color: #355b99;
  border: 1px solid #355b99;
}
.btn-mine:hover {
  background-color: #224070;
  border: 1px solid #224070;
}
.nav-link {
  color: #355b99;
}
.nav-link:active {
  color: #224070;
}
