body  {
  background-color: rgb(231, 255, 209);
  font-family: 'Quantico', sans-serif;
}
table {
  margin: auto;
}
td  {
  text-align: center;
  font-size: 25px;
}
#link {
  text-align: center;
  width: 100%;
}
h1  {
  text-align: center;
  height: 120px;
  margin-top: 80px;
  color: rgb(22, 45, 0);
}
#chooseaskill {
  height: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
#skillname  {
  text-align: center;
  height: 70px;
  margin-top: 60px;
}
p {
  text-align: center;
  font-size: 20px;
  color: rgb(22, 45, 0);
  margin-top: 50px;
}
a:visited, a:link {
  background-color: rgb(163, 224, 107);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: rgb(127, 196, 64);
}
